{% load static %}
<html lang="en">

<head>
    <title>Community Notes on Subway Accessibility</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How Accessible is each station?</title>

    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

    <link rel='stylesheet' href="{% static 'mainmap/css/tailwind-out.css' %}" />
    <script>
    // Javascript to toggle the menu
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('nav-toggle').onclick = function() {
            document.getElementById("nav-content").classList.toggle("hidden");
        }
    });
    </script>
</head>

<body>
    <nav id="header" class="fixed w-full z-[1500] top-0">
        <div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">
            <div class="pl-4">
                <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="{% url 'map' %}">
                    Subway Accessibility
                </a>
            </div>
            <div class="block lg:hidden pr-4">
                <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-500 appearance-none focus:outline-none">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>
            <div class="w-full flex-grow lg:flex lg:items-center hidden lg:block lg:w-auto mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-2000" id="nav-content">
                <ul class="list-reset lg:flex justify-end flex-1 items-center">
                    <li class="mr-3">
                        <a class="inline-block py-2 px-4" href="{% url 'map' %}">
                            Map
                        </a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block hover:text-underline py-2 px-4" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block hover:text-underline py-2 px-4" href="{% url 'about' %}">About this Project</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container w-full md:max-w-3xl mx-auto pt-20">
        <div class="w-full px-4 md:px-6 text-gray-800 leading-normal">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    
</body>

</html>