{% extends 'base.html' %}

{% block content %}
    <h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-black">Get in Touch</h2>
    <ul class="list-disc">
        <li><a href="mailto:iscdonis@gmail.com">Email Isaac at iscdonis@gmail.com</a></li>
        <li><a href="https://www.meetup.com/transit-techies-nyc/">Join the Transit Techies Meetup</a></li>
    </ul>

    <br>

    <h2 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-black">Advisory Team</h2>
    <ul class="list-disc">
        <li>Sarah Sachs</li>
        <li>Jessica Murray</li>
        <li>Greg Sadetsky</li>
    </ul>
{% endblock content %}
