{% extends 'base.html' %}

{% load static %}
{% block content %}
    <h3 style="text-align: center;">How Accessible is each station?</h3>
    <p>Click on the markers below the map to submit feedback about a station </p>

    <!-- Main -->
    <main>
        <div id='map' style='width: 900px; height: 500px;'></div>
        <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
    </main>

    <!-- Scripts -->
    <script>
        const ICON_URL = '{% static "images/accessible_icon.jpg" %}';
    </script>

    <script>
        const map = L.map('map', {maxZoom:12}).setView([40.69438888596156, -73.98923397215619], 10)
        var layer = protomapsL.leafletLayer({url:'https://isaacdonis.github.io/my_area.pmtiles'})

        var custom_icon = L.Icon.extend({
          options: {
               iconUrl: "static/images/mapbox-icon.png",
               iconSize: new L.Point(10, 10),
             }
           });

        var smaller_icon = new custom_icon();
        layer.addTo(map)

        // get the values from the Django context
        const object_ids = {{object_ids}}
        const lat_values = {{lat}}
        const lon_values = {{lon}}
        const stop_names = {{stop_name | safe}}
        const line_names = {{line_name | safe}}
        const ada_counts = {{adas}}

        // initialize variables
        var markerCoordinates = []

        for (let i=0; i < object_ids.length; i++) {
            markerCoordinates.push({lat: lat_values[i], lng: lon_values[i]})
        }

      markerCoordinates.forEach(coord => {
        L.marker([coord.lat, coord.lng], {icon: smaller_icon}).addTo(map);
      });

    </script>
    
{% endblock content %}