{% extends 'base.html' %}

{% load static %}
{% block content %}
    <h3 style="text-align: center;">How Accessible is each station?</h3>
    <p>Click on the markers below the map to submit feedback about a station </p>

    <!-- Main -->
    <main>
        <div id='map' style='width: 900px; height: 500px;'></div>
        <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
    </main>

    <!-- Scripts -->
    <script>
        const ICON_URL = '{% static "images/accessible_icon.jpg" %}';
    </script>

    <script>

      var southWest = L.latLng(40.40699857483299, -74.58963551742433), // lower left corner (e.g., New York)
      northEast = L.latLng(41.00965094991757, -73.61177016947053); // upper right corner (e.g., Los Angeles)
      
      var bounds = L.latLngBounds(southWest, northEast);

      const map = L.map('map', {minZoom:10, maxZoom: 14, maxBounds: bounds, maxBoundsViscosity: 1.0}).setView([40.70811065720056, -73.97231715755181], 11).fitBounds(bounds)
      var layer = protomapsL.leafletLayer({url:'https://isaacdonis.github.io/my_area.pmtiles'})

        // use this icon
        var custom_icon = L.Icon.extend({
          options: {
               iconUrl: "static/images/mapbox-icon.png",
               iconSize: new L.Point(10, 10),
             }
           });

        var smaller_icon = new custom_icon();
        layer.addTo(map)

        // get the values from the Django context
        const object_ids = {{object_ids}}
        const lat_values = {{lat}}
        const lon_values = {{lon}}
        const stop_names = {{stop_name | safe}}
        const line_names = {{line_name | safe}}
        const ada_counts = {{adas}}

        // initialize variables
        var markerCoordinates = []

        for (let i=0; i < object_ids.length; i++) {
            markerCoordinates.push({lat: lat_values[i], 
                                    lng: lon_values[i],
                                    marker_id: object_ids[i],
                                    stop_name: stop_names[i],
                                    line_name: line_names[i]})
        }
      // Function to show popup on marker hover
      function showPopup(e) {
        this.openPopup();
      }

      // Function to hide popup when marker is no longer hovered over
      function hidePopup(e) {
        this.closePopup();
      }

      markerCoordinates.forEach(coord => {
        var popup = L.popup().setContent(coord.stop_name + ' - ' + coord.line_name);
        var markerInstance = L.marker([coord.lat, coord.lng], {icon: smaller_icon, 
                                          marker_id: coord.marker_id,
                                          stop_name: coord.stop_name}).addTo(map).on('click', onClick);
        
        // create the popup values
        markerInstance.bindPopup(popup);
        markerInstance.on('mouseover', showPopup);
        markerInstance.on('mouseout', hidePopup);

      });

      function onClick(e) {
        window.location.href = '/stationfeedback/' + e.target.options['marker_id'];
      }

    </script>
    
{% endblock content %}