{% extends 'base.html' %}

{% load static %}
{% block content %}
    <h3 style="text-align: center;">How Accessible is each station?</h3>
    <p>Click on the links below the map to submit feedback about a station </p>

    <!-- Main -->
    <main>
        <div id='map' style='width: 900px; height: 500px;'></div>
    </main>

    <!-- Scripts -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>

    <script>
        const ICON_URL = '{% static "images/accessible_icon.jpg" %}';
    </script>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiaWNkb25pcyIsImEiOiJjbGZlY3RmYTkwMmxvM3Bxbnp2YnU2aWR2In0.OdqH3NLK3-fyd6UDcI5gbQ';

        <!--Define boundaries-->
        var bounds = [[-74.58963551742433, 40.40699857483299],
                     [-73.61177016947053, 41.00965094991757]]
                     
        var map = new mapboxgl.Map({
            container: 'map',
            center: [-73.97231715755181, 40.70811065720056],
            style: 'mapbox://styles/mapbox/streets-v11',
            maxBounds: bounds,
            zoom:8,
            minZoom:5,
            maxZoom: 14
        });
        

        // this counts as loading your data
        const geojson_values = {
          type: 'FeatureCollection',
          features: []
        };

        const object_ids = {{object_ids}}
        const lat_values = {{lat}}
        const lon_values = {{lon}}
        const stop_names = {{stop_name | safe}}
        const line_names = {{line_name | safe}}
        const ada_counts = {{adas}}
        
        let i = 0
        while (i < lat_values.length)
        {
            lat = lat_values[i]
            lon = lon_values[i]
            geojson_values.features.push({
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [lon, lat]
                },
                properties: {
                    object_id: object_ids[i],
                    station_name: stop_names[i],
                    line_name: line_names[i],
                    ada: ada_counts[i]
                }
            })

            i++
        }

        // Add markers to the map.
        for (const marker of geojson_values.features) {
            // Create a DOM element for each marker.
            const el = document.createElement('div');
            const width = 5;
            const height = 5;
            el.className = 'marker';

            // console.log(marker.properties.ada)

            if (marker.properties.ada > 0) {
                el.style.backgroundImage = `url(${ICON_URL})`;
                el.style.width = '20px';
                el.style.height = '20px';
                el.style.backgroundSize = '100%';
            
                // Add markers to the map.
                new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .addTo(map);
            }
        }

        map.on('load', () => {
            /* Add the data to your map as a layer */
            map.addLayer({
              id: 'locations',
              type: 'circle',
              /* Add a GeoJSON source containing place coordinates and information. */
              source: {
                type: 'geojson',
                data: geojson_values
              }
            });
          });

        var popup = new mapboxgl.Popup({
            closeOnClick: false,
            offset: [0, -15]
          })

        map.on('click', 'locations', (e) => {
            const properties = e.features[0].properties;
            const object_id = properties.object_id;

            window.location.href = '/stationfeedback/' + object_id;
        });

        map.on('mousemove', 'locations', (e) => {
            const properties = e.features[0].properties;
            const object_id = properties.object_id;
            const name = properties.station_name;
            const line = properties.line_name;
            const coordinates = e.features[0].geometry.coordinates.slice();

            popup
                .setLngLat(coordinates)
                .setHTML(name.concat(' - ').concat(line))
                .addTo(map);
        });

        map.on('mouseleave', 'locations', (e) => {
            popup.remove();
        });


    </script>
{% endblock content %}