@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: serif;
  }
  a { 
    color: blue;
    text-decoration: underline;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

div.marker:hover {
  cursor: pointer;
}