{% extends 'base.html' %}
{% block content %}
    <h3 style="text-align: center;">How Accessible is each station? Click on a Subway station to view community notes about it</h3>

    <!-- Main -->
    <main>
        <div id='map' style='width: 900px; height: 500px;'></div>
    </main>

    <ul>
        {% for object in object_list %}
            <li><a href="{% url 'stationfeedback' object.pk %}">{{object.stop_name}} {{object.line}}</li>
        {% empty %}
            <li>Something went wrong.</li>
        {% endfor %}
    </ul>

    <!-- Scripts -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiaWNkb25pcyIsImEiOiJjbGZlY3RmYTkwMmxvM3Bxbnp2YnU2aWR2In0.OdqH3NLK3-fyd6UDcI5gbQ';
        var map = new mapboxgl.Map({
            container: 'map',
            center: [-73.93006, 40.69218],
            style: 'mapbox://styles/mapbox/streets-v11',
            zoom: 10
        });

        // this counts as loading your data
        const geojson_values = {
          type: 'FeatureCollection',
          features: []

        };

        const lat_values = {{lat}}
        const lon_values = {{lon}}
        const stop_names = {{stop_name | safe}}
        
        let i = 0
        while (i < lat_values.length)
        {
            lat = lat_values[i]
            lon = lon_values[i]
            geojson_values.features.push({
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [lon, lat]
                },
                properties: {
                    station_name: stop_names[i],
                }
            })

            i++
        }

        map.on('load', () => {
            /* Add the data to your map as a layer */
            map.addLayer({
              id: 'locations',
              type: 'circle',
              /* Add a GeoJSON source containing place coordinates and information. */
              source: {
                type: 'geojson',
                data: geojson_values
              }
            });
          });
                {% comment %} map.on('mousemove', 'locations', (e) => {
            const descript = e.features[0].properties.description;
            const coordinates = e.features[0].geometry.coordinates.slice();

            new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(descript)
                .addTo(map);
        }); {% endcomment %}
        map.on('mousemove', 'locations', (e) => {
            const name = e.features[0].properties.station_name;
            const coordinates = e.features[0].geometry.coordinates.slice();

            new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(name)
                .addTo(map);
        });


    </script>
{% endblock content %}